SELECT 
  "USERS"."ID" as "ID",
  "USERS"."NAME" as "NAME",
  "ARTICLES"."ID" as "ARTICLE_ID",
  "ARTICLES"."TITLE" as "ARTICLE_TITLE"
FROM "USERS" LEFT JOIN "ARTICLES" ON "USERS"."ID" = "ARTICLES"."AUTHOR_ID"
WHERE "USERS"."ID" = :id

