#@search()
    #parse('/articles/article.vm')
    WHERE
        1 = 1
        #ifAndEqual($id '"ARTICLES"."ID"' ':id')
        #ifAndLike($title '"ARTICLES"."TITLE"' ':title')
        #ifAndLike($author '"USERS"."NAME"' ':author')
#end