#@search()
    #parse('/articles/article.vm')
    WHERE
        1 = 1
        #andIfContain($ids '"ARTICLES"."ID"')
        #ifAndLike($title '"ARTICLES"."TITLE"')
        #ifAndLike($author '"USERS"."NAME"')
#end