#macro( ifAndLike $property $column)
    #if($property)
        AND LOWER($column) like CONCAT('%', LOWER($_.use($property)),'%')
    #end
#end

#macro( ifAndEqual $property $column)
    #if($property)
        AND $column = $_.use($property)
    #end
#end


#macro( andIfContain $property $column)
    #if($property.size() > 0)
        AND $column IN ($_.use($property))
    #end
#end

#macro( limit )
    limit #if($limit != $null):limit#{else}100#end offset #if($offset != $null):offset#{else}0#end
#end

#macro( search )
    SELECT * FROM (
        $!bodyContent
        #limit()
    ) as Q1 RIGHT JOIN (
        SELECT
            count(*) as TOTAL
        FROM (
            $!bodyContent
        ) as Q3
    ) AS Q2 ON 1=1
#end